<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKME</title>

    <link rel="stylesheet" th:href="@{/css/common/index.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>
<body>
    <!-- 헤더 -->
    <div th:replace="~{fragments/header :: header}">header content</div>

    <!-- 메인 -->
    <main>
        <h1>Welcome to PICKME</h1>
        <!-- 여기에 작업하세요 -->
    </main>


    <!-- 푸터 -->
    <!--<div th:replace="fragments/footer :: footer"></div>-->
    <div th:replace="~{fragments/footer :: footer}">footer content</div>
</body>
</html>
