body {
    font-family: "IBM Plex Sans KR", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}
.container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
}
h1 {
    text-align: center;
    border-bottom: 1px solid #9DA0AE;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
h2 {
    margin-top: 5%;
}
.notice-content {
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.notice-content h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}
.date {
    color: #9DA0AE;
    font-size: 0.9em;
    margin-bottom: 15px;
}
.notice-body, .campaign-content {
    margin-top: 20px;
    white-space: pre-wrap;
}
.campaign-content img {
    max-width: 100%;
    height: auto;
}

.nav-content {
    border-top: 1px solid #9DA0AE;
    margin-top: 20px;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.nav-arrows {
    display: flex;
    gap: 10px;
}
.nav-content-btn {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}
.action-buttons {
    display: flex;
    gap: 10px;

}
.content-btn {
    font-family: "IBM Plex Sans KR", sans-serif;
    margin-right: 20px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #9DA0AE;
    border-radius: 4px;
}
.content-btn:hover, .nav-content-btn:hover {
    background-color: #e0e0e0;
}

a.content-btn, a.nav-content-btn {
    color: #333;
    text-decoration: none;
}

a.content-btn:link, a.nav-content-btn:link {
    color: #333;
}

a.content-btn:visited, a.nav-content-btn:visited {
    color: #333;
}

a.content-btn:hover, a.nav-content-btn:hover {
    background-color: #e0e0e0;
}

a.content-btn:active, a.nav-content-btn:active {
    background-color: #d0d0d0;
}