body {
    font-family: "IBM Plex Sans KR", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    min-height: 50px;
    height: auto;
    flex: 0 0 48%;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 25px;
}

.tab.active {
    background-color: #e0e0e0;
    border-color: #bbb;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-content.active {
    display: block;
    opacity: 1;
}

.form-group {
    margin-bottom: 20px;
    color: #505052;
    margin-left: 8%;
    margin-right: 10%;
}

#title, #customs_notice, #content {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 12px;
    color: #000;
    padding: 10px;
    border: none;
    background-color: #F1F1F1;
}

#title::placeholder, #customs_notice::placeholder, #content::placeholder {
    color: #B8B6B6;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

textarea {
    height: 200px;
    resize: vertical;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.submit-btn, .cancel-btn {
    display: inline-block;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.submit-btn {
    background-color: #000;
    color: #fff;
}

.cancel-btn {
    background-color: #f1f1f1;
    color: #000;
    border: 1px solid #ddd;
}

.submit-btn:hover {
    background-color: #333;
}

.cancel-btn:hover {
    background-color: #e0e0e0;
}

#campaignTitle, #campaignCustomsNotice {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 12px;
    color: #000;
    padding: 10px;
    border: none;
    background-color: #F1F1F1;
    width: 100%;
    margin-bottom: 10px;
}

#campaignTitle::placeholder, #campaignCustomsNotice::placeholder {
    color: #B8B6B6;
}

.image-upload-area {
    width: 90%;
    min-height: 350px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}

.image-preview {
    text-align: center;
}

#previewImage {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.image-preview p {
    margin-top: 10px;
    color: #888;
}

#campaignImage {
    display: none;
}
