body {
    margin: 0px;
    padding: 0px;
}

.header-top {
    background-color: #000;
    color: #2EC44F;
    text-align: left;
    padding: 5px 0;
    font-weight: 600;
    height: 2em;
    border: none;
    line-height: 2em;
}

.header_text {
    margin-left: 5%;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 10%;
    background-color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    font-weight: 600;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.auth-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.login-btn,
.signup-btn,
.logout-btn {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn {
    background-color: white;
    color: #000;
    border: none;
}

.signup-btn {
    background-color: #000;
    color: white;
    border: 1px solid #000;
}

.signup-btn:hover {
    background-color: #333;
}

.logout-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #c0c0c0;
}

.logout-btn:hover {
    background-color: #d0d0d0;
}
