body {
    margin: 0px;
    padding: 0px;
}

.header-top {
    background-color: #000;
    color: #2EC44F;
    text-align: left;
    padding: 5px 0;
    font-weight: 600;
    height: 2em;
    border: none;
    line-height: 2em;
}

.header_text {
    margin-left: 5%;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 10%;
    background-color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    font-weight: 600;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.logout-btn {
    font-family: "IBM Plex Sans KR", sans-serif;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
}

.logout-btn:hover {
    background-color: #e0e0e0;
}
