/* 테이블 스타일 */
#trackingTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#trackingTable th, #trackingTable td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

#trackingTable th {
    background-color: #f4f4f4;
    color: #333;
}

#trackingTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#trackingTable tr:nth-child(odd) {
    background-color: #fff;
}

#trackingTable tr:hover {
    background-color: #f1f1f1;
}

/* 반응형 테이블 */
@media screen and (max-width: 768px) {
    #trackingTable th, #trackingTable td {
        font-size: 14px;
        padding: 10px;
    }
}

/* 카드 스타일 */
.product-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 150px;
    margin-right: 15px;
    border-radius: 8px;
}

.product-info h3 {
    margin-top: 0;
    color: #333;
}

.product-info p {
    color: #666;
    font-size: 14px;
}

/* 제목 스타일 */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

.step-container {
    flex: 1;
    position: relative;
    text-align: center;
}

.step-col {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    position: relative; /* relative로 설정하여 선을 정확히 배치 */
}

.step-label {
    margin-bottom: 10%;
    font-weight: 500;
}

.step {
    background-color: #e0e0e0;
    color: #888;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 2; /* 선보다 위에 위치하도록 설정 */
    margin-top: -15px; /* 선 위로 올리기 */
}

.step-line {
    width: 100%; /* 선의 길이 설정 */
    height: 5px;
    background-color: #e0e0e0;
    position: absolute;
    top: 40px; /* 중앙 정렬 */
    bottom: auto;
    right: 0%;
    transform: translate(-50%, -50%); /* 세로 및 가로 중앙 정렬 */
    z-index: 1; /* 선이 원 뒤에 위치하도록 설정 */
}

.step-container.active .step {
    background-color: #4caf50; /* 활성화 상태의 색상 */
    color: white;
}

.step-container.active .step-line {
    background-color: #4caf50; /* 활성화된 선 색상 */
}

.step-container.inactive .step {
    background-color: #e0e0e0; /* 비활성화 상태의 색상 */
    color: #888;
}
