<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>관리자 메인</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/customs/customsMain.css}">
  <link rel="stylesheet" th:href="@{/css/customs/customsHeader.css}">
</head>
<body>
<div th:replace="~{customs/customsHeader :: header}">header content</div>

<div class="container">
  <h1 class="section-title">공지 및 공고</h1>
  <div class="notice-card">
    <div class="notice-buttons">
      <button class="active">전체</button>
      <button>공지</button>
      <button>캠페인</button>
    </div>
    <div class="notice-list">
      <div th:each="notice, iterStat : ${notices}" th:if="${iterStat.index < 6}" class="notice-item">
        <div class="notice-content">
          <strong th:text="${notice.title}">공지사항</strong>
          <span th:text="${#temporals.format(notice.createTime, 'yyyy-MM-dd')}"></span>
        </div>
        <a th:href="@{/customs/notice/noticeContent/{id}(id=${notice.id}}" class="notice-link">→</a>
      </div>
    </div>
  </div>

  <div class="footer-buttons">
    <a th:href="@{/customs/notices}" class="footer-button">
      <img th:src="@{/images/annoucement.png}" alt="공지 관리">
      <div class="footer-button-text">
        <strong>공지 관리</strong>
        <span>자세히 보기 ></span>
      </div>
    </a>
    <a href="/admin/auction" class="footer-button">
      <img th:src="@{/images/campaign.png}" alt="캠페인 관리">
      <div class="footer-button-text">
        <strong>캠페인 관리</strong>
        <span>자세히 보기 ></span>
      </div>
    </a>
    <a th:onclick="|location.href='@{/customs/items}'|" class="footer-button">
      <img th:src="@{/images/auction.png}" alt="경매 관리">
      <div class="footer-button-text">
        <strong>경매 관리</strong>
        <span>자세히 보기 ></span>
      </div>
    </a>
    <a th:onclick="|location.href='@{/customs/delivery}'|" class="footer-button">
      <img th:src="@{/images/delivery-courier.png}" alt="배송 관리">
      <div class="footer-button-text">
        <strong>배송 관리</strong>
        <span>자세히 보기 ></span>
      </div>
    </a>
  </div>
</div>
</body>
</html>
