<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>PICK-ME 관리자 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/customs/css/customsMain.css}">
</head>
<body>
<header>
    <div class="top-black-bar">
        <div class="slider-wrapper">
            <div class="slider">
                <div class="slider-text1">합법적인 경매가 이루어지는 곳</div>
                <div class="slider-text2">쉽고 투명한 온라인 경매, 관세 물품을 내 손에</div>
                <div class="slider-text3">관세 물품 경매, 투명한 거래의 시작</div>
                <div class="slider-text4">클릭 한 번으로 시작하는 공정한 경매</div>
                <div class="slider-text5">안전하고 믿을 수 있는 관세 경매의 길</div>
                <div class="slider-text6">경매의 새로운 기준, 관세청 온라인 경매</div>
                <div class="slider-text7">경매의 새로운 시대, 온라인으로 시작하세요</div>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="logo-nav">
            <a th:href="@{/customs/main}" class="logo">PICK-ME</a>
            <nav>
                <ul>
                    <li><a th:href="@{/customs/notices}">공지 관리</a></li>
                    <li><a th:href="@{/customs/campaigns}">캠페인 관리</a></li>
                    <li><a th:href="@{/customs/items}">경매 관리</a></li>
                    <li><a th:href="@{/customs/delivery}">배송 관리</a></li>
                </ul>
            </nav>
        </div>
        <button class="logout-btn" th:onclick="|location.href='@{/customs/logout}'|">로그아웃</button>
    </div>
</header>
</body>
</html>
