<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>PICK-ME 관리자 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/customs/css/customsMain.css}">
</head>
<body>
<header>
    <div class="top-black-bar">
        합법적인 경매가 이루어지는 곳
    </div>
    <div class="header-content">
        <div class="logo-nav">
            <a th:href="@{/customs/main}" class="logo">PICK-ME</a>
            <nav>
                <ul>
                    <li><a th:href="@{/customs/notices}">공지 관리</a></li>
                    <li><a th:href="@{/customs/campaigns}">캠페인 관리</a></li>
                    <li><a th:href="@{/customs/items}">경매 관리</a></li>
                    <li><a th:href="@{/customs/delivery}">배송 관리</a></li>
                    <li><a th:href="@{/customs/incomeForm}">수입 관리</a></li>
                </ul>
            </nav>
        </div>
        <button class="logout-btn" th:onclick="|location.href='@{/customs/logout}'|">로그아웃</button>
    </div>
</header>
</body>
</html>
