<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 경매 등록</title>
    <link rel="stylesheet" href="/css/item.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/item.js"></script>
</head>
<body>

<form action="/customs/item/create" method="post" enctype="multipart/form-data">
    <h2>새 경매 등록</h2>

    <div class="image-upload">
        <label for="filebox" style="font-size: large" class="image">
            +
        </label>
    </div>
    <input type="file" id="filebox" style="display: none;" name="images" multiple accept="image/*">

    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" name="name" placeholder="상품명을 입력하세요">
    </div>

    <div>
        <label for="price">공매예정가격(원)</label>
        <input type="text" id="price" name="price" placeholder="공매예정가격을 입력하세요">
    </div>

    <div>
        <label for="target">입찰 대상</label>
        <select id="target" name="target">
            <option value="" disabled selected>선택하세요</option>
            <option th:each="tt : ${type}" th:value="${tt}" th:text="${tt}"></option>
        </select>
    </div>

    <div>
        <label for="law-select">관련 법규 선택</label>
        <select id="law-select" name="law">
            <option value="" disabled selected>선택하세요</option>
            <option th:each="law : ${laws}" th:value="${law.id}" th:text="${law.title}"></option>
        </select>
    </div>

    <div>
        <label for="categories">분류</label>
        <select id="categories" name="code">
            <option value="" disabled selected>분류</option>
            <option th:each="category : ${categories}" th:value="${category.code}" th:text="${category.name}"></option>
        </select>
    </div>

    <div>
        <label for="start-time">공매시작일시</label>
        <input type="date" id="start-time" name="startDate">
        <input type="time" name="startTime">
    </div>

    <div>
        <label for="endDate">공매마감일시</label>
        <input type="date" id="endDate" name="endDate">
        <input type="time" name="endTime">
    </div>

    <button type="submit" id="submitBtn">저장하기</button>
</form>
</body>
</html>
