<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/userMain.css}">
    <link rel="stylesheet" th:href="@{/css/common/userMainHeader.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>
<body>
<div th:replace="~{fragments/userMainHeader :: header}">header content</div>
<div class="background-container">
    <div class="green-background"></div>
</div>
<div class="only-margin">
    <div class="container">
        <div class="top-container">
            <div class="campaign-container">
                <section class="campaign">
                    <img th:src="@{/images/imsi2.png}" alt="캠페인" src="">
                </section>
            </div>
            <div class="top-buttons">
                <button class="custom-admin">
                    <img th:src="@{/images/administrative-fine.png}" alt="관세 행정" src="">
                    <span>관세 행정 사전안내</span>
                </button>
                <button class="auction-guide">
                    <img th:src="@{/images/law.png}" alt="경매 안내" src="">
                    <span>경매 안내</span>
                </button>
            </div>
        </div>

        <div class="navigation">
            <button id="nav-btn-left" ><img th:src="@{/images/annoucement.png}" alt="배송" src="">배송현황</button>
            <button class="nav-btn-cen" th:onclick="|location.href='@{/user/item/list}'|"><img th:src="@{/images/search-engine.png}" alt="공매물품조회" src="">공매물품조회</button>
            <button class="nav-btn-cen" th:if="${userId != null}"
                    th:onclick="|location.href='@{/user/item/' + ${userId}}'|">
                <img th:src="@{/images/auction.png}" alt="입찰목록" src="">입찰목록
            </button>
            <button class="nav-btn-cen" th:if="${userId == null}"
                    th:onclick="|location.href='@{/user/loginForm}'|">
                <img th:src="@{/images/auction.png}" alt="입찰목록" src="">입찰목록
            </button>
            <button class="nav-btn-cen" th:onclick="|location.href='@{/user/charge}'|"><img th:src="@{/images/point.png}" alt="포인트등록" src="">포인트등록</button>
            <button class="nav-btn-cen" th:onclick="|location.href='@{/user/myPage}'|"><img th:src="@{/images/myPage.png}" alt="마이페이지" src="">마이페이지</button>
            <button id="nav-btn-right"><img th:src="@{/images/data-analysis.png}" alt="통계" src="">통계</button>
        </div>

        <section class="products-grid">
            <div th:each="item : ${items}" class="product-card">
                <div class="product-card-background"></div>
                <span class="status" th:classappend="${item.status == 'OPEN' ? 'status-open' : (item.status == 'NOT_OPEN' ? 'status-not-open' : 'status-closed')}"
                      th:text="${item.status == 'OPEN' ? '진행중' : (item.status == 'NOT_OPEN' ? '진행 예정' : '마감')}">진행중</span>
                <img th:src="@{${item.imgUrl}}" alt="제품" src="">
                <div class="product-info">
                    <h3 th:text="${item.name}">제품 이름</h3>
                    <p>공매예상가격 <span class="price" th:text="'￦  ' + ${item.price}">가격</span></p>
                    <p class="auction-label">공매시작시간<span class="auction-date" th:text="'  '+ ${#temporals.format(item.startTime, 'yyyy-MM-dd HH:mm')}">공매시작시간</span></p>
                    <p class="auction-label">공매마감시간<span class="auction-end_date" th:text="'  '+ ${#temporals.format(item.endTime, 'yyyy-MM-dd HH:mm')}">공매마감시간</span></p>
                </div>
            </div>
        </section>

        <div class="pagination">
            <button class="prev">&lt;</button>
            <div class="page-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <button class="next">&gt;</button>
        </div>
    </div>
</div>

<script th:src="@{/js/userMain.js}"></script>
<div th:replace="~{fragments/footer :: footer}">footer content</div>
</body>
</html>
