<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <title>PICKME 회원가입</title>
    <link rel="stylesheet" href="/css/user/signUp.css">
</head>
<body>
<header class="header">
    <div class="logo-container">
        <a href="/" class="logo">PICKME</a>
    </div>
</header>
<div class="form-container">
    <h1>회원가입</h1>
    <div class="tabs">
        <button class="tab-btn user" th:classappend="${type == 'user' or type == null} ? ' active' : ''" onclick="showForm('user')">개인</button>
        <button class="tab-btn business" th:classappend="${type == 'business'} ? ' active' : ''" onclick="showForm('business')">사업자</button>
    </div>
    <div class="line"></div>
    <form method="post" action="/user/signUp" th:object="${signUpDto}">
        <input type="hidden" name="type" th:value="${signUpDto.type ?: 'user'}">
        <div class="form-group">
            <label th:for="email">이메일</label>
            <div class="email-container">
                <input type="text" id="email" th:field="*{email}" placeholder="이메일" required>
                <span>@</span>
                <select th:field="*{emailDomain}" id="email-domain" required>
                    <option value="">선택해주세요</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="naver.com">naver.com</option>
                    <option value="daum.net">daum.net</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" placeholder="비밀번호" required>
        </div>

        <div class="form-group">
            <label for="password-confirm">비밀번호 확인</label>
            <input type="password" id="password-confirm" placeholder="비밀번호 확인">
            <p id="password-match-message" class="field-error-message" style="display: none;">비밀번호가 일치하지 않습니다.</p>
        </div>

        <div class="form-group">
            <label th:for="addr">주소</label>
            <input type="text" th:field="*{addr}" placeholder="주소" required>
        </div>

        <div class="form-group">
            <label th:for="phoneNum">전화번호</label>
            <input type="text" th:field="*{phoneNum}" placeholder="000-0000-0000" required>
        </div>

        <div class="form-group" id="business-number-group" th:style="'display:' + (${type == 'business'} ? 'block' : 'none')">
            <label th:for="businessNum">사업자 등록번호</label>
            <input type="text" th:field="*{businessNum}" placeholder="사업자 등록번호">
        </div>

        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름" required>
        </div>

        <div class="form-group">
            <label th:for="id">아이디</label>
            <div class="id-container">
                <input type="text" th:field="*{id}" placeholder="아이디" required>
                <button class="check-btn" id="check-btn" disabled>중복확인</button>
            </div>
            <p id="id-check-result" class="field-error-message"></p>
        </div>
        <button class="submit-btn" id="submit-btn" disabled>회원가입하기</button>
    </form>
</div>
<script src="/js/user/signUp.js"></script>
<script src="/js/user/checkId.js"></script>
</body>
</html>
