<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKME</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" th:href="@{/css/customs/customsSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/customs/customsHeader.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" href="/css/item/item.css">
</head>
<body>
<div th:replace="~{customs/customsHeader :: header}">header content</div>

<main>
    <div class="container">
        <div th:replace="~{customs/customsSidebar :: sidebar}"></div>
        <div class="header-section">
            <h2>새 경매 등록</h2>
            <hr>
        </div>
        <div class="content">
            <form action="/customs/items" method="post" enctype="multipart/form-data">
                <div>
                    <label for="inputFile">사진 첨부</label>
                    <div class="inputFile" id="inputFile">
                        <label for="AddImgs" class="addImgBtn">
                            <i class="fas fa-camera"></i>
                        </label>
                        <ul id="Preview" class="sortable"></ul>
                        <input type="file" id="AddImgs" name="files" class="upload-hidden" accept="image/*" multiple>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <label for="title">상품명</label>
                        <input type="text" id="title" name="name" required>
                    </div>

                    <div class="form-col">
                        <label for="startPrice">시작가</label>
                        <input type="number" id="startPrice" name="price" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <label for="startTime">경매 시작 시간</label>
                        <input type="text" id="startTime" class="flatpickr-input" name="startTime" required>
                    </div>
                    <div class="form-col">
                        <label for="endTime">경매 마감 시간</label>
                        <input type="text" id="endTime" class="flatpickr-input" name="endTime" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <label for="category">카테고리</label>
                        <select id="category" name="code" required>
                            <option value="" disabled selected>분류</option>
                            <option th:each="category : ${categories}" th:value="${category.code}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>

                    <div class="form-col">
                        <label for="type">입찰대상</label>
                        <select id="type" name="type" required>
                            <option value="" disabled selected>선택하세요</option>
                            <option th:each="type : ${types}" th:value="${type}" th:text="${type.value}">선택해주세요</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>관련 법규</label>
                    <div class="custom-select" id="lawsDropdown">
                        <div class="select-box" onclick="toggleDropdown()">
                            <span id="selectedOptions">선택된 법규 없음</span>
                            <i class="fas fa-chevron-down"></i> <!-- 화살표 아이콘 -->
                        </div>
                        <div class="dropdown-content" id="dropdownContent">
                            <div th:each="law : ${laws}" style="display: flex; align-items: center;">
                                <input type="checkbox" th:id="'law-' + ${law.id}" th:value="${law.id}" th:name="lawId[]">
                                <label th:for="'law-' + ${law.id}" th:text="${law.title}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="bid-button" type="submit">경매 등록하기</button>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}">footer content</div>
<script src="/js/item/item.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#startTime", {
        enableTime: true,
        noCalendar: false,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        minuteIncrement: 60 // 분 단위를 60으로 설정해 분을 보이지 않게 함
    });

    flatpickr("#endTime", {
        enableTime: true,
        noCalendar: false,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        minuteIncrement: 60 // 분 단위를 60으로 설정해 분을 보이지 않게 함
    });
</script>
</body>
</html>
