<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKME</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" th:href="@{/css/customs/customsSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/customs/customsHeader.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/item/list.css}">
    <link rel="stylesheet" href="/css/item/item.css">
    <link rel="stylesheet" href="/css/bid/success.css">
</head>
<body>
<div th:replace="~{customs/customsHeader :: header}">header content</div>

<main>
    <div class="container">
        <div th:replace="~{customs/customsSidebar :: sidebar}"></div>
        <div class="content">
            <div class="page-title">경매 수정</div>
            <form>
                <div>
                    <label for="inputFile">사진 첨부</label>
                    <div class="inputFile" id="inputFile">
                        <label for="AddImgs" class="addImgBtn">
                            <i class="fas fa-camera"></i>
                        </label>
                        <ul id="Preview" class="sortable">
                            <li th:each="image : ${selectedImages}">
                                <img th:src="${image}" alt="이미지"/>
                            </li>
                        </ul>
                        <input type="file" id="AddImgs" name="files" class="upload-hidden" accept="image/*" multiple
                               disabled>
                    </div>
                </div>

                <input type="hidden" id="itemId" th:value="${id}"/>
                <div class="form-row">
                    <div class="form-col">
                        <label for="item-name">상품명</label>
                        <input type="text" id="item-name" th:value="${selectedItem.name}" name="name" required disabled>
                    </div>

                    <div class="form-col">
                        <label for="startPrice">시작가</label>
                        <input type="number" id="startPrice" th:value="${selectedItem.price}" name="price" required
                               disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <label for="auctionStartTime">경매 시작 시간</label>
                        <input type="text" class="flatpickr-input" id="auctionStartTime" name="startTime"
                               th:value="${selectedItem.startTime}" required>
                    </div>
                    <div class="form-col">
                        <label for="auctionEndTime">경매 마감 시간</label>
                        <input type="text" class="flatpickr-input" id="auctionEndTime" name="endTime"
                               th:value="${selectedItem.endTime}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="category">카테고리</label>
                    <select id="category" name="code" required disabled>
                        <option value="" disabled>분류</option>
                        <option th:each="category : ${categories}" th:value="${category.code}"
                                th:text="${category.name}" th:selected="${category.code == selectedItem.code}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label>관련 법규</label>
                    <div class="custom-select" id="lawsDropdown">
                        <div class="select-box" onclick="toggleDropdown()">
                            <span id="selectedOptions"></span>
                            <i class="fas fa-chevron-down"></i> <!-- 화살표 아이콘 -->
                        </div>
                        <div class="dropdown-content" id="dropdownContent">
                            <div th:each="law : ${laws}" style="display: flex; align-items: center;">
                                <input type="checkbox" th:id="'law-' + ${law.id}" th:value="${law.id}" th:name="lawId[]"
                                       th:checked="${selectedLaws.contains(law.id)}">
                                <label th:for="'law-' + ${law.id}" th:text="${law.title}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="type">입찰대상</label>
                    <select id="type" name="type" required disabled>
                        <option value="" disabled>선택하세요</option>
                        <option th:each="type : ${types}" th:value="${type}" th:text="${type.value}"
                                th:selected="${type == selectedItem.type}"></option>
                    </select>
                </div>
                <button type="button" class="bid-button" onclick="submitUpdate()">경매 수정하기</button>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}">footer content</div>
<script src="/js/item/item.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/item/edit.js"></script>
</body>
</html>
