<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKME</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/index.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/item/detail.css}">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- js -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const startTime = /*[[${item.startTime}]]*/ {};
        const endTime = /*[[${item.endTime}]]*/ {};
        /*]]>*/
    </script>
    <script th:src="@{/js/item/image.js}"></script>
    <script th:src="@{/js/item/likeHandler.js}"></script>
    <script th:src="@{/js/item/countdown.js}"></script>
    <script th:src="@{/js/item/unit.js}"></script>
    <script th:src="@{/js/item/law.js}"></script>
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{fragments/header :: header}">header content</div>

<!-- 메인 -->
<main>
    <div class="container">
        <div style="display: flex;">
        <div class="image-container">
            <div class="main-image">
                <img id="largeImage" th:src="${item.imageUrls[0]}">
            </div>

            <div class="thumbnail-images">
                <!-- 첫 번째 이미지 -->
                <img th:if="${item.imageUrls.size() > 1}" th:src="${item.imageUrls[1]}" class="thumbnail" onclick="changeImage(this)">
                <img th:if="${item.imageUrls.size() <= 1}" th:src="@{/images/default_img.png}" class="default-thumbnail">

                <!-- 두 번째 이미지 -->
                <img th:if="${item.imageUrls.size() > 2}" th:src="${item.imageUrls[2]}" class="thumbnail" onclick="changeImage(this)">
                <img th:if="${item.imageUrls.size() <= 2}" th:src="@{/images/default_img.png}" class="default-thumbnail">

                <!-- 세 번째 이미지 -->
                <img th:if="${item.imageUrls.size() > 3}" th:src="${item.imageUrls[3]}" class="thumbnail" onclick="changeImage(this)">
                <img th:if="${item.imageUrls.size() <= 3}" th:src="@{/images/default_img.png}" class="default-thumbnail">

                <!-- 네 번째 이미지 -->
                <img th:if="${item.imageUrls.size() > 4}" th:src="${item.imageUrls[4]}" class="thumbnail" onclick="changeImage(this)">
                <img th:if="${item.imageUrls.size() <= 4}" th:src="@{/images/default_img.png}" class="default-thumbnail">
            </div>
        </div>

        <div class="auction-details">
            <h2 id="item-name"><span th:text="${item.name}"></span></h2>
            <button id="likeButton" class="heart" th:classappend="${item.isLiked} ? 'active' : ''" type="button" th:data-liked="${item.isLiked}" th:data-item-id="${item.id}" th:data-action-url="@{/user/item/{id}/like(id=${item.id})}">
                <i th:class="${item.isLiked} ? 'fas' + ' fa-heart': 'far' + ' fa-heart'"></i>
            </button>
            <div class="action-sub-details">
                <div id="title">
                    <p>공매 번호</p>
                    <p>세관명</p>
                    <p>입찰 대상</p>
                    <p>공매시작일시</p>
                    <p>공매마감일시</p>
                </div>
                <div id="content">
                    <p id="item-id" th:text="${item.id}" th:data-item-id="${item.id}"></p>
                    <p th:text="${item.customsName}"></p>
                    <p th:text="${item.target}"></p>
                    <p th:text="${item.startTime}"></p>
                    <p th:text="${item.endTime}"></p>
                </div>

            </div>

            <div id="price-container">
                <div id="price-title">
                    <p>공매예정가격</p>
                </div>
                <div id="price-content">
                    <p th:text="${#numbers.formatInteger(item.price ,3, 'COMMA')} + '원'"></p>
                </div>
            </div>
        </div>
        </div>

        <div id="bid-container">
            <button class="bid-button" id="bid-button"></button>
        </div>

        <div class="action-buttons" style="display: flex;">
            <button id="unit-button">
                <img src="/images/won.png" style="width:20%; height:auto;">
                <p>경매 호가표</p>
            </button>
            <button id="law-button">
                <img src="/images/law.png" style="width:20%; height:auto">
                <p>관련 법규</p>
            </button>
            <div class="contact-info">
                <div id="dept-container">
                    <span id="dept">담당 부서</span>
                    <p th:text="${item.customsName}"></p>
                </div>

                <div id="contact-container">
                    <img src="/images/phone.png" style="width: 30px; height: 30px">
                    <span>문의 전화</span>
                    <span th:text="${item.customsTel}"></span>
                </div>
                <img id="contact-img" src="/images/department.png">
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="unit-title">경매 호가표 안내</h2>
                    <span class="close-button">&times;</span>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>현재가 구간(원)</th>
                        <th>호가 단위(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>~ 100만 미만</td>
                        <td>50,000</td>
                    </tr>
                    <tr>
                        <td>100만 이상 ~ 200만 미만</td>
                        <td>100,000</td>
                    </tr>
                    <tr>
                        <td>200만 이상 ~ 400만 미만</td>
                        <td>200,000</td>
                    </tr>
                    <tr>
                        <td>400만 이상 ~ 1,000만 미만</td>
                        <td>300,000</td>
                    </tr>
                    <tr>
                        <td>1,000만 이상 ~ 2,000만 미만</td>
                        <td>500,000</td>
                    </tr>
                    <tr>
                        <td>2,000만 이상 ~ 3,000만 미만</td>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <td>3,000만 이상 ~ 5,000만 미만</td>
                        <td>2,000,000</td>
                    </tr>
                    <tr>
                        <td>5,000만 이상 ~ 1억 미만</td>
                        <td>3,000,000</td>
                    </tr>
                    <tr>
                        <td>1억 이상 ~ 2억 미만</td>
                        <td>5,000,000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="law-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="unit-title">관련 법규 안내</h2>
                    <span class="law-close-button">&times;</span>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>관련 법</th>
                        <th>내용</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="law : ${item.laws}">
                        <td th:text="${law.title}">현재가 구간</td>
                        <td th:text="${law.content}">호가 단위</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!-- 푸터 -->
<!--<div th:replace="fragments/footer :: footer"></div>-->
<div th:replace="~{fragments/footer :: footer}">footer content</div>
</body>
</html>
