<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKME</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/item/list.css}">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>

    <script th:src="@{/js/item/list.js}"></script>
    <script th:src="@{/js/item/filtering.js}"></script>
    <script th:src="@{/js/item/infiniteScroll.js}"></script>
    <script th:src="@{/js/item/itemNavigation.js}"></script>
    <script th:src="@{/js/item/likeHandler.js}"></script>
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{fragments/header :: header}">header content</div>

<!-- 메인 -->
<main>
    <nav class="category">
        <ul>
            <li><a href="#" class="category-link"><img th:src="@{/images/all.png}">#전체</a></li>
            <li><a href="#" class="category-link" data-category="의류"><img th:src="@{/images/clothes.png}">#의류</a></li>
            <li><a href="#" class="category-link" data-category="생활용품"><img th:src="@{/images/tableware.png}">#생활용품</a></li>
            <li><a href="#" class="category-link" data-category="디지털"><img th:src="@{/images/fridge.png}">#디지털</a></li>
            <li><a href="#" class="category-link" data-category="가구"><img th:src="@{/images/furniture.png}">#가구</a></li>
            <li><a href="#" class="category-link" data-category="기타"><img th:src="@{/images/battery.png}">#소모품</a></li>
        </ul>
    </nav>

    <div class="auction-list">
        <div class="header-section">
            <h2 id="title">모든 경매 물품</h2>
            <div class="toggle-switch">
                <input type="checkbox" id="toggle" onchange="filterItems('모든 경매 물품')">
                <label for="toggle"></label>
            </div>
        </div>

        <div class="product-grid"></div>
        <div id="loader">
            <div class="spinner"></div>
        </div>
    </div>
</main>

<!-- 푸터 -->
<div th:replace="~{fragments/footer :: footer}">footer content</div>
<script th:src="@{/js/common/header.js}"></script>
</body>
</html>
