body {
    font-family: "IBM Plex Sans KR", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

/* 레이아웃 스타일 */
.product-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 컴포넌트 스타일 */
.product-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

/* 상태에 따라 스타일 추가 */
.product-card.closed2 {
    background-color: rgba(128, 128, 128, 0.5) !important;
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.status-label {
    background-color: #666666;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    z-index: 10; /* 다른 요소보다 위에 표시되도록 함 */
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

input[type="button"] {
    margin: 5px;
    background-color: #f0fff0;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

input[type="button"]:hover {
    background-color: #28a745;
    color: #fff;
}
