<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.pickme.bid.repository.BidMapper">
    <resultMap id="BidResultMap" type="project.pickme.bid.domain.Bid">
        <id property="id" column="id"/>
        <result property="price" column="price"/>
        <result property="bidTime" column="bid_time"/>
        <result property="isSuccess" column="is_success"/>
        <association property="user" column="user_id" javaType="project.pickme.user.domain.User"
                     select="project.pickme.user.repository.UserMapper.findUserById"/>
        <association property="item" column="item_id" javaType="project.pickme.item.domain.Item"/>
    </resultMap>

    <select id="findAll" resultMap="BidResultMap">
        select b.bid_id  as id,
               b.price,
               b.bid_time,
               b.is_success,
               u.id      as user_id,
               i.item_id as item_id
        from Bid b
                 left join User u on b.user_id = u.id
                 left join Item i on b.item_id = i.item_id
    </select>


    <insert id="save" parameterType="project.pickme.bid.dto.response.BidDto" useGeneratedKeys="true" keyProperty="bidId">
        insert into Bid(item_id, user_id, price, bid_time, is_success)
        values (#{itemId}, #{userId}, #{price}, #{bidTime}, #{isSuccess})
    </insert>

    <delete id="deleteAll">
        delete
        from Bid
    </delete>

    <select id="findMaxBidByItemId" parameterType="long" resultType="long">
        select max(b.price) as price
        from Bid b
        group by b.item_id
        having b.item_id = #{itemId}
    </select>

    <select id="findBidById" parameterType="long" resultMap="BidResultMap">
        select b.bid_id  as id,
               b.price,
               b.bid_time,
               b.is_success,
               u.id      as user_id,
               i.item_id as item_id
        from Bid b
                 left join User u on b.user_id = u.id
                 left join Item i on b.item_id = i.item_id
        where b.bid_id = #{bidId}
    </select>

    <update id="updateBidSuccess" parameterType="long">
        update Bid
        set is_success = true
        where bid_id = #{bidId}
    </update>

    <select id="findAllPriceByItemId" parameterType="long" resultType="project.pickme.bid.dto.response.PriceDto">
        select b.price, u.id as userId, b.bid_id as bidId
        from Bid b
        left join User u on b.user_id = u.id
        where b.item_id = #{itemId}
        order by b.price
    </select>

    <!--내 낙찰 정보 조회-->
    <select id="findMySuccessfulBid" resultType="Map">
        select i.item_id        as itemId,
               i.name           as name,
               img.url          as imgUrl,
               d.invoice_number as invoiceNumber,
               d.code           as deliveryCode,
               b.price          as price,
               b.bid_time       as bidTime,
               c.name           as customsName
        from Item i
                 left join Customs c on i.customs_id = c.id
                 left join Bid b on i.item_id = b.item_id
                 left join Delivery d on i.item_id = d.item_id
                 left join (select item_id, url
                            from Image
                            where seq = 0) img on i.item_id = img.item_id
        where b.is_success = 1
          and b.user_id = #{id}
        limit #{pageable.pageSize} offset #{pageable.offset}
    </select>

    <select id="findAllSuccessBid" resultType="project.pickme.bid.dto.reqeust.SelectedBidDto">
        with bidRank as (select b.*,
                                row_number() over (partition by b.item_id order by b.price desc) as rn
                         from Bid b
                         where item_id in (select item_id
                                           from Item
                                           where status = 'CLOSED'
                                             and end_time between now - interval 5 minute and now + interval 5 minute))
        select b.price,
               b.name,
               i.url,
               u.email
        from Image i
                 join bidRank b
                      on i.item_id = b.item_id
                          and i.seq = 0 and rn = 1
                 left join User u
                           on b.user_id = u.id
    </select>

    <select id="findUnPaidBid" resultType="project.pickme.bid.dto.response.UnPaidBidDto">
        select i.url         as itemImage,
               item.name     as itemName,
               item.end_time as selectedTime,
               item.price
        from Image i
                 join (select i.item_id,
                              i.name,
                              i.end_time,
                              b.price
                       from Item i
                                join Bid b
                                     on i.item_id = b.item_id
                                         and b.user_id = #{id}
                                         and b.is_success = 1
                                         and bid_id not in (select bid_id
                                                            from Payment
                                                            where user_id = #{id})) as item
                      on i.item_id = item.item_id
                          and i.seq = 0
    </select>
</mapper>
