<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.pickme.image.repository.ImageMapper">

    <insert id="insertImages" parameterType="java.util.List">
        insert into Image(item_id, name, url, seq)
        values
        <foreach collection="images" item="image" separator=",">
        (#{image.itemId}, #{image.name}, #{image.url}, #{image.seq})
        </foreach>
    </insert>

    <delete id="deleteAll">
        delete from Image
    </delete>

    <select id="findImagesByItemId" resultType="java.lang.String">
        select url
        from Image
        where item_id = #{id}
    </select>

</mapper>
