<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.pickme.item.repository.ItemLawMapper">
    <insert id="bulkInsert">
        insert into Item_law (law_id2, item_id)
        values
        <foreach collection="laws" item="itemLaw" separator=",">
            (#{itemLaw.lawId}, #{itemLaw.itemId})
        </foreach>
    </insert>

    <delete id="delete">
        delete
        from Item_law
        where item_id = #{id}
    </delete>

    <select id="findByItemId">
        select law_id2 as lawId
        from Item_law
        where item_id = #{id}
    </select>
</mapper>
