<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.pickme.item.repository.ItemMapper">

    <insert id="insert" parameterType="ItemDto" useGeneratedKeys="true" keyProperty="itemId">
        insert into Item (name, code, target, price, start_time, end_time, status, customs_id)
        values (#{name}, #{code}, #{type}, #{price}, #{startTime}, #{endTime}, #{status}, #{customsId})
    </insert>

    <delete id="deleteAll">
        delete
        from Item
    </delete>

    <update id="updateStatus" parameterType="java.time.LocalDateTime">
        <![CDATA[
        update Item

        set status =
                case
                    when start_time > #{now} then 'NOT_OPEN'
                    when start_time <= #{now} and end_time > #{now} then 'OPEN'
                    when end_time <= #{now} then 'CLOSED'
                    end

        where status != 'CLOSED'
        ]]>
    </update>

    <update id="update">
        update Item
        set end_time   = #{endTime},
            start_time = #{startTime}
        where item_id = #{itemId}
    </update>

</mapper>
