<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.pickme.item.repository.ItemLawMapper">

    <insert id="insertLaw">
        insert into Item_law(law_id2, item_id)
        values (#{lawId}, #{itemId})
    </insert>

</mapper>
