<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.pickme.notice.mapper.NoticeMapper">

<!--    <resultMap id="noticeResultMap" type="project.pickme.notice.domain.Notice">-->
<!--        <id property="id" column="notice_id"/>-->
<!--        <result property="customs_id" column="customs_id"/>-->
<!--        <result property="title" column="title"/>-->
<!--        <result property="createTime" column="create_at"/>-->
<!--        <result property="content" column="content"/>-->
<!--    </resultMap>-->

<!--    <select id="selectAll" resultMap="noticeResultMap">-->
<!--        SELECT notice_id, customs_id, title, content, create_at-->
<!--        FROM notice-->
<!--    </select>-->

    <resultMap id="noticeResultMap" type="project.pickme.notice.domain.Notice">
        <id property="id" column="notice_id"/>
        <result property="title" column="title"/>
        <result property="createTime" column="create_at"/>
        <result property="content" column="content"/>
        <collection property="customs" resultMap="Customs"/>
    </resultMap>

    <resultMap id="Customs" type="project.pickme.customs.domain.Customs">
        <result property="customs_id" column="customs_id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="selectAll" resultMap="noticeResultMap">
        SELECT
        n.notice_id AS notice_id,
        c.customs_id AS customs_id,
        n.title AS title,
        n.content AS content,
        n.create_at AS create_at
        FROM notice n
        LEFT JOIN
        customs c ON n.customs_id = c.customs_id
    </select>

<!--    <resultMap id="noticeResultMap" type="project.pickme.notice.domain.Notice">-->
<!--        <constructor>-->
<!--            <idArg column="notice_id" javaType="java.lang.Long"/>-->
<!--            <arg column="customs_id" javaType="java.lang.String"/>-->
<!--            <arg column="title" javaType="java.lang.String"/>-->
<!--            <arg column="content" javaType="java.lang.String"/>-->
<!--            <arg column="create_at" javaType="java.time.LocalDateTime"/>-->
<!--            <arg resultMap="customsResultMap"/>-->
<!--        </constructor>-->
<!--    </resultMap>-->

<!--    <resultMap id="customsResultMap" type="project.pickme.customs.domain.Customs">-->
<!--        <constructor>-->
<!--            <idArg column="customs_id" javaType="java.lang.String"/>-->
<!--            <arg column="password" javaType="java.lang.String"/>-->
<!--            <arg column="role" javaType="java.lang.String"/>-->
<!--            <arg column="name" javaType="java.lang.String"/>-->
<!--            <arg column="tel" javaType="java.lang.String"/>-->
<!--        </constructor>-->
<!--    </resultMap>-->

<!--    <select id="selectAll" resultMap="noticeResultMap">-->
<!--        SELECT-->
<!--        n.notice_id,-->
<!--        n.customs_id,-->
<!--        n.title,-->
<!--        n.content,-->
<!--        n.create_at,-->
<!--        c.password,-->
<!--        c.role,-->
<!--        c.name,-->
<!--        c.tel-->
<!--        FROM notice n-->
<!--        LEFT JOIN customs c ON n.customs_id = c.customs_id-->
<!--    </select>-->


</mapper>