<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.pickme.payment.repository.PaymentMapper">
    <insert id="save" parameterType="project.pickme.payment.dto.SavePaymentDto">
        insert into Payment(user_id, bid_id, payment_time)
        values (#{userId}, #{bidId}, #{paymentTime})
    </insert>

    <delete id="deleteAll">
        delete from Payment
    </delete>
</mapper>
