<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.pickme.statistics.repository.StatisticsMapper">
    <resultMap id="CategoryCompetitionResultMap" type="project.pickme.statistics.dto.CategoryCompetitionDto">
        <result property="categoryCode" column="category_code"/>
        <result property="totalBids" column="total_bids"/>
        <result property="totalUsers" column="total_users"/>
        <result property="competitionRate" column="competition_rate"/>
    </resultMap>

    <select id="getTotalAuctions" resultType="int">
        select count(distinct item_id) from Bid
    </select>

    <select id="getMonthlyBids" resultType="project.pickme.statistics.dto.MonthlyBidStatisticsDto">
        select
            date_format(i.start_time, '%Y-%m') as bid_month,
            count(b.bid_id) as total_bids,
            count(distinct b.user_id) as total_users,
            (count(b.bid_id) / count(distinct b.user_id)) as competition_rate
        from
            Bid b
        left join
            Item i
        on
            b.item_id = i.item_id
        group by
            date_format(i.start_time, '%Y-%m')
        order by
            bid_month asc
    </select>

    <select id="getTotalCompetitionRate" resultType="double">
        select
            round((select count(item_id) from Bid) / (select count(distinct user_id) from Bid), 2) as competition_rate
    </select>

    <select id="getMonthlyCompetitionRate" resultType="project.pickme.statistics.dto.MonthlyBidStatisticsDto">
        select
            date_format(b.bid_time, '%Y-%m') as bid_month,
            count(b.bid_id) as total_bids,
            count(distinct b.user_id) as total_users,
            (count(b.bid_id) / count(distinct b.user_id)) as competition_rate
        from
            Bid b
        group by
            date_format(b.bid_time, '%Y-%m')
        order by
            bid_month asc
    </select>

    <select id="getCategoryCompetitionRate" resultMap="CategoryCompetitionResultMap">
        select
            i.code as category_code,
            count(b.bid_id) as total_bids,
            count(distinct b.user_id) as total_users,
            round((count(b.bid_id) / count(distinct b.user_id)),2) as competition_rate
        from
            Item i
        left join
            Bid b
        on
            i.item_id = b.item_id
        group by
            i.code
        order by
            category_code
    </select>

    <select id="getTopCompetitiveAuctions" resultType="project.pickme.statistics.dto.CompetitiveAuctionDto">
        select
            b.item_id,
            i.name as itemName,
            count(distinct b.user_id) as participantCount
        from
            Bid b
        join
            Item i
        on
            b.item_id = i.item_id
        group by
            b.item_id, i.name
        order by
            participantCount desc
        limit 10
    </select>

    <select id="getCategoryRegistrationFrequency" resultType="project.pickme.statistics.dto.CategoryFrequencyDto">
        select
            i.code,
            c.name as categoryName,
            count(i.item_id) * 100.0 / (select count(*) from Item) as categoryPercentage
        from
            Item i
        join
            Category c
        on
            i.code = c.code
        group by
            i.code, c.name
        order by
            categoryPercentage desc
    </select>

    <select id="getCategoryFailureRate" resultType="project.pickme.statistics.dto.CategoryFailureRateDto">
        select
            c.name as category_name,
            sum(b.price) as total_revenue
        from
            Item i
        left join
            Bid b
        on
            i.item_id = b.item_id and b.is_success = 1
        join
            Category c on i.code = c.code
        group by
            c.name
        order by
            c.name
    </select>

    <select id="getCategoryRevenue" resultType="project.pickme.statistics.dto.CategoryRevenueDto">
        select
            c.name as categoryName,
            coalesce(sum(b.price), 0) as totalRevenue
        from
            Category c
        left join
            Item i
        on
            c.code = i.code
        left join
            Bid b
        on
            i.item_id = b.item_id and b.is_success = 1
        group by
            c.name
        order by
            c.name
    </select>

    <select id="getCategoryBidPriceRange" resultType="project.pickme.statistics.dto.CategoryBidPriceRangeDto">
        select
            c.name as categoryName,
            coalesce(min(b.price), 0) as minBidPrice,
            coalesce(max(b.price), 0) as maxBidPrice
        from
            Item i
        left join
            Bid b
        on
            i.item_id = b.item_id and b.is_success = 1
        join
            Category c
        on
            i.code = c.code
        group by
            c.name
        order by
            c.name
    </select>

    <select id="getCategoryRevenueHistory" resultType="project.pickme.statistics.dto.CategoryRevenueHistoryDto">
        select
            c.name as category_name,
            date_format(i.end_time, '%Y-%m') as month,
            sum(b.price) as monthly_revenue
        from
            Item i
        left join
            Bid b
        on
            i.item_id = b.item_id and b.is_success = 1
        join
            Category c
        on
            i.code = c.code
        group by
            c.name, date_format(i.end_time, '%Y-%m')
        order by
            c.name, month
    </select>

    <select id="getCustomsItemCount" resultType="project.pickme.statistics.dto.CustomsItemCountDto">
        select
            c.id as customsId,
            c.name as customsName,
            count(i.item_id) as itemCount
        from
            Customs c
        left join
            Item i
        on
            c.id = i.customs_id
        group by
            c.id, c.name
        order by
            itemCount desc
    </select>

    <select id="getHourlyBidActivity" resultType="project.pickme.statistics.dto.HourlyBidActivityDto">
        with recursive hours as (
        select
            1 as hour_of_day

        union all

        select
            hour_of_day + 1
        from
            hours
        where
            hour_of_day &lt; 24
        )
        select
            h.hour_of_day as hourOfDay,
            coalesce(count(b.bid_id), 0) as bidCount
        from
            hours h
        left join
            Bid b
        on
            hour(b.bid_time) + 1 = h.hour_of_day
        group by
            h.hour_of_day
        order by
            h.hour_of_day;
    </select>


</mapper>
