<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.pickme.statistics.repository.StatisticsMapper">
    <resultMap id="CategoryCompetitionResultMap" type="project.pickme.statistics.dto.CategoryCompetitionDto">
        <result property="categoryCode" column="category_code"/>
        <result property="totalBids" column="total_bids"/>
        <result property="totalUsers" column="total_users"/>
        <result property="competitionRate" column="competition_rate"/>
    </resultMap>

    <select id="getTotalAuctions" resultType="int">
        select count(distinct item_id) from Bid
    </select>

    <select id="getMonthlyBids" resultType="project.pickme.statistics.dto.MonthlyBidStatisticsDto">
        select
            date_format(i.start_time, '%Y-%m') as bid_month,
            count(b.bid_id) as total_bids,
            count(distinct b.user_id) as total_users,
            (count(b.bid_id) / count(distinct b.user_id)) as competition_rate
        from
            Bid b
        left join
            Item i
        on
            b.item_id = i.item_id
        group by
            date_format(i.start_time, '%Y-%m')
        order by
            bid_month asc
    </select>

    <select id="getTotalCompetitionRate" resultType="double">
        select
            round((select count(item_id) from Bid) / (select count(distinct user_id) from Bid), 2) as competition_rate
    </select>

    <select id="getMonthlyCompetitionRate" resultType="project.pickme.statistics.dto.MonthlyBidStatisticsDto">
        select
            date_format(b.bid_time, '%Y-%m') as bid_month,
            count(b.bid_id) as total_bids,
            count(distinct b.user_id) as total_users,
            (count(b.bid_id) / count(distinct b.user_id)) as competition_rate
        from
            Bid b
        group by
            date_format(b.bid_time, '%Y-%m')
        order by
            bid_month asc
    </select>

    <select id="getCategoryCompetitionRate" resultMap="CategoryCompetitionResultMap">
        select
            i.code as category_code,
            count(b.bid_id) as total_bids,
            count(distinct b.user_id) as total_users,
            round((count(b.bid_id) / count(distinct b.user_id)),2) as competition_rate
        from
            Item i
        left join
            Bid b
        on
            i.item_id = b.item_id
        group by
            i.code
        order by
            category_code
    </select>

    <select id="getTopCompetitiveAuctions" resultType="project.pickme.statistics.dto.CompetitiveAuctionDto">
        select
            b.item_id,
            i.name AS itemName,
            count(distinct b.user_id) as participantCount
        from
            Bid b
        join
            Item i
        on
            b.item_id = i.item_id
        group by
            b.item_id, i.name
        order by
            participantCount desc
        limit 10
    </select>

    <select id="getCategoryRegistrationFrequency" resultType="project.pickme.statistics.dto.CategoryFrequencyDto">
        select
            i.code,
            c.name as categoryName,
            count(i.item_id) * 100.0 / (select count(*) from Item) as categoryPercentage
        from
            Item i
        join
            Category c
        on
            i.code = c.code
        group by
            i.code, c.name
        order by
            categoryPercentage desc
    </select>

    <select id="getCategoryFailureRate" resultType="project.pickme.statistics.dto.CategoryFailureRateDto">
        select
            i.code as categoryCode,
            c.name as categoryName,
            count(case when b.is_success = 0 then 1 end) as failedAuctions,
            (count(case when b.is_success = 0 then 1 end) * 100.0 / count(b.bid_id)) as failRate
        from
            Item i
        left join
            Bid b on i.item_id = b.item_id
        left join
            Category c on i.code = c.code
        group by
            i.code, c.name
        order by
            failRate desc
    </select>

</mapper>
