<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입찰중</title>
    <link rel="stylesheet" href="/css/bid/bidPage.css">
</head>
<body>
<header class="header">
    합리적인 경매가 이루어지는 곳
</header>
<div class="container" th:object="${oneBidItemDto}">
    <h2>입찰중</h2>
    <div class="item-details">
        <img src="/images/test.jpg" alt="Laptop Image" class="item-image">
        <div class="item-info">
            <h2 th:text="*{name}"></h2>
            <table class="item-timeline">
                <tr>
                    <td>공매 번호</td>
                    <td th:text="*{itemId}"></td>
                </tr>
                <tr>
                    <td>공매시작일시</td>
                    <td th:text="*{startTime}"></td>
                </tr>
                <tr>
                    <td>공매마감일시</td>
                    <td th:text="*{endTime}"></td>
                </tr>
            </table>
            <div class="starting-price">
                공매시작 가격 <span class="price" th:text="*{startPrice}">308,151원</span>
            </div>
        </div>
    </div>

    <div class="bid-details">
        <div class="bid-info">
            <div class="bid-info-row">
                <span class="bold-text">현재 최고가</span>
                <span class="max-price" th:text="*{startPrice}"></span>
            </div>
            <div class="bid-info-row">
                <span class="bold-text" th:text="*{myPoint}">보유 포인트 <button class="recharge-btn">충전</button></span>
                <span>1,000,000원 </span>
            </div>
            <div class="bid-info-row">
                <span class="bold-text" >남은 시간</span>
                <span class="time" id="time-remaining"></span>
            </div>
            <div class="line"></div>
            <div class="bid-amount">
                <label for="price" class="bold-text">입찰 금액</label>
                <input type="text" id="price" class="amount-input" placeholder="금액 입력">
                <span class="won">원</span>
            </div>
            <button class="bid-btn">입찰하기</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const itemId = [[${oneBidItemDto.itemId}]];  // 숫자일 경우
        const userId = '[[${oneBidItemDto.userId}]]';  // 문자열일 경우

        //소켓 생성(웹소켓 메서드와 이벤트를 통해 서버와 통신 가능)
        const socket = new WebSocket(`ws://localhost:8099/connect/${itemId}/${userId}`);

        socket.onopen = () => {
            console.log("웹 소켓 open");
        };

        socket.onmessage = (event) => {
            const data = JSON.parse(event.data); // 서버로부터 받은 데이터를 JSON 객체로 파싱
            console.log("서버로부터 받음: ", data);

            if (data.maxPrice != undefined) {
                const maxPriceElement = document.querySelector('.max-price');
                console.log("최고가 업데이트: ", data.maxPrice);
                maxPriceElement.textContent = `${data.maxPrice} 원`;

                maxPriceElement.classList.add('updated');

                // 애니메이션이 끝난 후 클래스를 제거하여 다시 적용 가능하도록 구현
                setTimeout(() => {
                    maxPriceElement.classList.remove('updated');
                }, 500);
            }
        };

        socket.onerror = (error) => {
            console.log("에러 발생:", error);
        };

        socket.onclose = () => {
            console.log("웹 소켓 닫힘");
        };

        //입찰하기 버튼 클릭 시 실시간 금액 전송
        document.querySelector('.bid-btn').addEventListener('click', function () {
            const price = document.getElementById('price').value;

            if(price){
                const message = {
                    itemId:itemId,
                    userId:userId,
                    price: price
                };

                socket.send(JSON.stringify(message))
                console.log('입찰 금액 전송: ', message);
            } else{
                alert('금액을 입력해주세요.');
            }
        })
    })

    var endTime = new Date('[[${oneBidItemDto.endTime}]]').getTime();
</script>
<script src="/js/bid/timer.js"></script>
</body>
</html>
