body {
    font-family: "IBM Plex Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

.only-margin {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

/* 캠페인 섹션 */
.top-container {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.campaign-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaign {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1)
}

.campaign img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.campaign-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

.dot.active {
    background-color: #4CAF50;
}

.top-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-buttons button {
    font-family:"IBM Plex Sans KR", sans-serif;
    width: 100%;
    height: calc(50% - 10px);
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.top-buttons button img {
    width: clamp(72px, 3vw, 96px);
    height: clamp(72px, 3vw, 96px);
    margin-bottom: 10px;
}

.custom-admin {
    background-color: #ffffff !important;
    box-shadow: 0 2px 5px #a7a7ab !important;
}

.auction-guide {
    background-color: #5AA76B !important;
    box-shadow: 0 2px 5px #a7a7ab !important;
    color: white !important;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.navigation button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,2);
}

.navigation button img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .top-container {
        flex-direction: column;
    }

    .top-buttons {
        flex-direction: row;
    }

    .top-buttons button {
        width: calc(50% - 5px);
        height: 100px;
    }
}

/* 네비게이션 */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 600;
}

.navigation button {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 500;
    flex: 1;
    padding: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navigation button img {
    width: clamp(48px, 3vw, 56px);
    height: clamp(48px, 3vw, 56px);
    margin-bottom: 5px;
}

/* 제품 */
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.product-card {
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}


.product-card .status {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.product-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    flex-grow: 1; /* 남은 공간을 채우도록 하는 설정(아래 4개) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 2줄 넘어가면 ... 으로 표현 */
    -webkit-box-orient: vertical;
}

.product-info p {
    margin: 5px 0;
    font-size: 12px;
    color: #666;
    font-weight: 400;
}

.auction-date {
    font-weight: 600;
    color: #4CAF50;
}

.auction-end_date {
    font-weight: 600;
    color: #FF0000;
}

.product-info .price {
    color: #4CAF50;
    font-weight: 600;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination .prev,
.pagination .next {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.page-dots {
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
}

.dot.active {
    background-color: #4CAF50;
}

/* 반응형 디자인
화면 크기가 작아질 때 한 줄에 상품 표현 개수
*/
@media (max-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}
