<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Common Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
</head>
<body>
<header th:fragment="header">
    <div class="header-top">
        <span class="header_text">합법적인 경매가 이루어지는 곳</span>
    </div>
    <nav class="main-nav">
        <a th:href="@{/user/main}" class="logo">PICK-ME</a>
        <ul class="nav-links">
            <li><a href="/notice_link">공지사항</a></li>
            <li><a th:href="@{/user/item/list}">공매물품조회</a></li>
            <li><a href="/auction_list">입찰 목록</a></li>
            <li><a th:href="@{/user/charge}">포인트등록</a></li>
            <li><a th:href="@{/user/myPage}">마이페이지</a></li>
            <li><a href="/statistics">통계</a></li>
        </ul>
        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/user/loginForm}" class="header-login">로그인</a>
            <button class="signup-btn" th:onclick="|location.href='@{/user/signUpForm}'|">회원가입</button>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <button class="logout-btn" th:onclick="|location.href='@{/user/loginForm}'|">로그아웃</button>
        </th:block>

    </nav>
</header>
</body>
</html>
