<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Common Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
</head>
<body>
<header th:fragment="header">

    <div class="header-top">
        <div class="slider-wrapper">
            <div class="slider">
                <div class="slider-text1">합법적인 경매가 이루어지는 곳</div>
                <div class="slider-text2">쉽고 투명한 온라인 경매, 관세 물품을 내 손에</div>
                <div class="slider-text3">관세 물품 경매, 투명한 거래의 시작</div>
                <div class="slider-text4">클릭 한 번으로 시작하는 공정한 경매</div>
                <div class="slider-text5">안전하고 믿을 수 있는 관세 경매의 길</div>
                <div class="slider-text6">경매의 새로운 기준, 관세청 온라인 경매</div>
                <div class="slider-text7">경매의 새로운 시대, 온라인으로 시작하세요</div>
            </div>
        </div>
    </div>
    <nav class="main-nav">
        <a th:href="@{/user/main}" class="logo">PICK-ME</a>
        <ul class="nav-links">
            <li><a href="/notice_link">공지사항</a></li>
            <li><a th:href="@{/user/item/list}">공매물품조회</a></li>
            <li><a href="/auction_list">입찰 목록</a></li>
            <li><a th:href="@{/user/charge}">포인트등록</a></li>
            <li><a th:href="@{/user/myPage}">마이페이지</a></li>
            <li><a href="/statistics">통계</a></li>
        </ul>
        <div class="auth-buttons">
            <th:block sec:authorize="isAnonymous()">
                <button class="login-btn" th:onclick="|location.href='@{/user/loginForm}'|">로그인</button>
                <button class="signup-btn" th:onclick="|location.href='@{/user/signUpForm}'|">회원가입</button>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <form th:action="@{/user/logout}" method="post">
                    <button type="submit" class="logout-btn">로그아웃</button>
                </form>
            </th:block>
        </div>
    </nav>
</header>
</body>
</html>
