<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>송장 등록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/delivery/register.css">
</head>
<body>
<form id="deliveryForm">
    <input type="hidden" name="itemId" id="itemIdInput" th:value="${itemId}">
    <input type="hidden" name="userId" id="userIdInput" th:value="${userId}">

    <label for="carrierDropdown">택배사 선택</label>
    <select id="carrierDropdown" name="code">
        <option value="" class="loading">Loading...</option>
    </select>

    <label for="invoiceNumber">송장번호</label>
    <input type="text" name="invoiceNumber" id="invoiceNumber">

    <button type="button" id="submitButton">등록하기</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/delivery/register.js"></script>
</body>
</html>
