<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배송 정보 확인</title>
    <link rel="stylesheet" href="/css/bid/success.css">
    <link rel="stylesheet" href="/css/delivery/status.css">
</head>
<body>
<h1>배송 정보 확인</h1>

<!-- 상품 정보 카드 -->
<input type="hidden" name="itemId" id="data-code" th:value="${item.code}">

<div class="product-card">
    <img th:src="@{${item.imgUrl}}" alt="product image" class="product-image">
    <div class="product-info">
        <h3 th:text="${item.itemName}"></h3>
        <p>결제금액: <span th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}"></span>원</p>
        <p><span th:text="${item.customsName}"></span></p>
        <p><span th:text="${item.courier}"></span><span id="data-invoiceNumber" th:text="${item.invoiceNumber}"></span>
        </p>
    </div>
</div>

<!-- 배송지 정보 카드 -->
<div class="product-card">
    <div class="product-info">
        <h3>배송지 정보</h3>
        <input type="button" id="updateItem" value="배송지 수정"
               th:if="${user.userId == userId}"
               th:data-item-id="${user.userId}"/>
        <p>주소: <span th:text="${user.address}"></span></p>
        <p>받는사람: <span th:text="${user.userName}"></span></p>
    </div>
</div>

<!-- 배송 추적 테이블 -->
<table id="trackingTable"></table>

<!-- JavaScript 및 jQuery 로드 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/delivery/status.js}"></script>
</body>
</html>
