body {
    font-family: "IBM Plex Sans KR", sans-serif;
    margin: 0px;
    padding: 0px;
}

.content {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 850px;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.auction-list {
    max-width: 1000px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-card.closed {
    display: none; /* '마감' 상태인 아이템을 숨김 */
}

#title {
    width: 150px;
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 0px;
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 20px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch label {
    width: 40px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch label::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label {
    background-color: #2EC44F; /* 체크된 상태의 배경색 */
}

.toggle-switch input[type="checkbox"]:checked + label::before {
    left: 21px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    cursor: pointer;
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 250px;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.status-label {
    background-color: #ff4d4f;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}

.status-open {
    background-color: #FF0000;
    color: #FFF;
}

.status-closed {
    background-color: black;
    color: #FFF;
}

.status-not-open {
    background-color: #B6D4FD;
    color: #FFF;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 작은 화면에서는 2개씩 표시 */
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr; /* 모바일 화면에서는 1개씩 표시 */
    }
}

.item-name {
    transition: color 0.3s ease, text-decoration 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 3em; /* 2줄의 높이 */
    max-height: 3em;
}

.item-info {
    color: #666;
    font-weight: 700;
}

#auction-date {
    font-weight: 700;
    color: #4CAF50;
}

#auction-end_date {
    font-weight: 700;
    color: #FF0000;
}

#auction-price {
    color: #4CAF50;
    font-weight: 700;
}
