body {
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
}

.content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 850px;
    max-width: 100%;
}

.custom-select {
    position: relative;
    width: 100%;
}

.select-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.dropdown-content div:last-child {
    border-bottom: none;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown-content label {
    cursor: pointer;
    display: inline-block;
}

.custom-select.open .dropdown-content {
    display: block;
}

.dropdown-content input[type="checkbox"] {
    accent-color: #2EC44F;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-col {
    width: 48%;
    margin-bottom: 15px;
}

.bid-button {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#categoryLabel {
    display: contents;
    font-weight: normal;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.filebox {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
}

.inputFile {
    display: flex;
    vertical-align: top;
}

.addImgBtn {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    line-height: 100px;
    text-align: center;
    background-color: #F1F1F1;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.addImgBtn:hover {
    background-color: #666666;
}

.upload-hidden {
    display: none;
}

#Preview {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
}

#Preview li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

#Preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.delBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.bid-button:hover {
    background-color: #333;
}

.flatpickr-input {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
}

.flatpickr-calendar {
    background-color: #F6FFF8;
    border: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flatpickr-day {
    color: #000;
}

.flatpickr-day.today {
    background-color: black;
    color: #ffffff;
}

.flatpickr-day:hover {
    background-color: #2EC44F;
    color: white;
}

.flatpickr-day.selected {
    background-color: #2EC44F;
    border: 1px solid black;
    color: #ffffff;
}

.flatpickr-time,
.flatpickr-time:hover {
    background-color: #F6FFF8;
    color: black;
    border: none;
}

.flatpickr-hour,
.flatpickr-minute {
    font-size: 16px;
    color: black;
}

select[multiple] {
    width: 100%;
    height: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: scroll;
}
