body {
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
}

.content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 850px;
    max-width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-col {
    width: 48%;
}

.bid-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#categoryLabel {
    display: contents;
    font-weight: normal;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.filebox {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
}

.inputFile {
    display: flex;
    vertical-align: top;
}

.addImgBtn {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    line-height: 100px;
    text-align: center;
    background-color: #F1F1F1;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.addImgBtn:hover {
    background-color: #666666;
}

.upload-hidden {
    display: none;
}

#Preview {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
}

#Preview li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

#Preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.delBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.bid-button:hover {
    background-color: #333;
}
