body {
    font-family: "IBM Plex Sans KR", sans-serif;
    background-color: #f9f9f9;
}

h2 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    margin-left: 40px;
}

hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.points-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.current-points, .updated-points {
    width: 40%;
    text-align: center;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
}

.current-points {
    margin-left: 30px;
}

.updated-points {
    margin-right: 30px;
}

.current-points div, .updated-points div {
    font-size: 2rem;
    font-weight: 500;
}

.current-points p, .updated-points p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.chargeAmount {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.amount-select {
    margin-bottom: 20px;
}

.amount-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.radio-button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 290px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid #ddd;
    border-radius: 35px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.custom-radio::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.radio-button input[type="radio"]:checked + .custom-radio {
    background-color: #e0f7e0;
    border-color: #2EC44F;
    color: #333;
}

.radio-button input[type="radio"]:checked + .custom-radio::before {
    background-color: #2EC44F;
    border-color: #66bb6a;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M20.29 5.71a1 1 0 00-1.41 0l-9.59 9.59L5.12 11a1 1 0 00-1.41 1.41l5 5a1 1 0 001.41 0l10-10a1 1 0 000-1.41z"/></svg>');
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
}

.radio-button input[type="radio"] + .custom-radio:hover {
    border-color: #2EC44F;
}

.radio-button input[type="radio"]:not(:checked) + .custom-radio::before {
    background-color: transparent;
}

.charge-btn {
    font-family: "IBM Plex Sans KR", sans-serif;
    display: block;
    width: 35%;
    height: 60px;
    padding: 10px;
    background-color: #2EC44F;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.charge-btn:hover {
    background-color: #4ab069;
}

.icon {
    font-size: 2.5em;
}
