<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>공지사항</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/notice/css/noticeList.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="container">
  <h1>공지사항</h1>
  <div class="main-card">
    <div class="notice-list">
      <div th:each="notice : ${notices}" class="notice-item">
        <div class="notice-content">
          <div class="notice-icon">
            <img th:src="@{${notice.title.startsWith('공지') ? '/images/notice.png' : '/images/campaign.png'}}" alt="공지 아이콘">
          </div>
          <div class="notice-text">
            <h3 class="notice-title" th:text="${notice.title}">공지사항 제목</h3>
            <p>
<!--              <span th:text="${'@' + notice.customs.name}">@작성자</span>-->
              <span th:text="'@' + ${notice.customsName}"></span>
              <span th:text="${#temporals.format(notice.createTime, 'yyyy-MM-dd')}">날짜</span>
            </p>
          </div>
        </div>
        <div class="notice-actions">
          <button class="btn btn-primary">수정</button>
          <button class="btn btn-secondary">삭제</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <div class="pagination-wrapper">
      <div class="pagination">
        <button class="prev-btn" id="prevBtn">&lt;</button>
        <div class="page-indicators" id="pageIndicators">
        </div>
        <button class="next-btn" id="nextBtn">&gt;</button>
      </div>
    </div>
<!--    <a href="/user/notice/newNotice" class="btn btn-write">등록하기</a>-->
    <a th:href="@{/customs/notice/newNotice}" class="btn btn-write">등록하기</a>
  </div>

</div>

  <script th:src="@{/notice/js/noticeList.js}"></script>
</body>
</html>
