<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>통계 메인</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" th:href="@{/css/notice/userNoticeList.css}"> -->
    <link rel="stylesheet" href="/userNoticeList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

</head>
<body>
<div class="main-container">
    <div class="container">
        <h1>공지사항</h1>
        <hr>

        <table id="noticeTable">
            <tbody>
            <tr th:each="notice : ${notices}">
                <td th:text="${notice.title}">공지 제목</td>
                <td th:text="${#temporals.format(notice.date, 'yyyy-MM-dd')}">2024-08-31</td>
                <td th:text="${notice.views}">318</td>
            </tr>
            </tbody>
        </table>

        <div class="load-more">
            <a href="#" id="loadMore">문서 10개 더보기 → </a>
        </div>
    </div>

    <div class="notice-categories">
        <h2>문의</h2>
        <ul>
            <li>세관별 문의전화 번호</li>
            <li>문의 안내</li>
        </ul>
    </div>
</div>

<script src="userNoticeList.js"></script>
</body>
</html>